.c7ncd-knowledge-file-container {
  width: 100%;
  height: 100%;
  padding: 16px 15px;
  &-buy-container {
    &-title1 {
      font-size: 13px;
      font-weight: 400;
      color: #0f1358;
    }
    &-title2 {
      font-size: 13px;
      font-weight: 400;
      color: rgba(15, 19, 88, 0.65);
    }
    &-content1 {
      background: #f0f4ff;
      border-radius: 4px;
      border: 1px solid #d5e0ff;
      font-size: 13px;
      font-weight: 400;
      color: rgba(15, 19, 88, 0.85);
      padding: 10px 0px 12px 12px;
      margin: 12px 0px 25px 0px;
    }
    &-content2 {
      margin-top: 8px;
      font-size: 13px;
      font-weight: 400;
      color: #0f1358;
    }
    &-list,
    .c7n-kb-doc-open-container-list {
      display: flex;
      align-items: center;
      &-icon {
        width: 6px;
        height: 6px;
        background: #5365ea;
        border-radius: 100%;
        margin-right: 8px;
      }
    }
    &-plaformContent {
      background: #f0f4ff;
      border-radius: 4px;
      border: 1px solid #d5e0ff;
      margin-top: 20px;
      padding: 12px;
      margin-bottom: 31px;
    }
    &-platformTitle {
      font-size: 13px;
      font-weight: 400;
      color: rgba(15, 19, 88, 0.65);
      margin-bottom: 8px;
    }
  }
  &-beyond-container {
    &-title {
      font-size: 13px;
      font-weight: 400;
      color: #0f1358;
    }
    &-content {
      padding: 12px;
      margin-top: 20px;
      background: #f0f4ff;
      border-radius: 4px;
      border: 1px solid #d5e0ff;
    }
    &-content1{
      margin-left:14px;
      margin-top:6px;
      margin-bottom:12px;
    }
    &-list {
      display: flex;
      align-items: center;
      margin-top: 6px;
      &-icon {
        width: 6px;
        height: 6px;
        background: #5365ea;
        border-radius: 100%;
        margin-right: 8px;
      }
    }
  }
  &-creator {
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(15, 19, 88, 0.65);
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    p {
      margin-bottom: 0;
    }
  }
  .c7n-breadcrumb {
    color: rgba(15, 19, 88, 0.65);
    > span:not(:last-of-type) {
      cursor: pointer;
    }
  }
  .c7n-breadcrumb > span:last-child .c7n-breadcrumb-link {
    color: var(--text-color) !important;
  }
}
