.c7n-docViewer {
  padding: 0 40px;
  height: 100%;

  .tui-editor-contents .task-list-item {
    pointer-events: none;
  }
}

// 由于导出功能，故以下css不放入c7n-docViewer下
.c7n-docViewer-wrapper {
  max-height: calc(100% - 105px);
  overflow-y: scroll;

  .c7n-docViewer-content {
    min-height: 200px;
    margin-top: 10px;
    padding: 0 10px;
    word-break: break-all;

    .tui-editor-contents {
      h1 {
        font-size: 0.36rem;
        border-bottom: none;
      }

      h2 {
        font-size: 0.24rem;
        border-bottom: none;
      }

      h3 {
        font-size: 0.21rem;
      }

      h4 {
        font-size: 0.18rem;
      }

      h5 {
        font-size: 0.16rem;
      }

      h6 {
        font-size: 0.14rem;
      }
    }
  }

  .c7n-docViewer-footer {
    border-top: 1px solid #d8d8d8;
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
  }

  .c7n-docViewer-mBottom {
    margin-bottom: 5px;
  }

  .c7n-docViewer-mRight {
    margin-right: 5px;
  }
}
