.c7n-workSpaceTree {
  width: 100%;
  &-image{
    margin-right: 6px;
  }
  &-dragging {
    margin-bottom: 50px;
  }

  &-title {
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: text-bottom;
    white-space: nowrap;
  }

  .c7n-workSpaceTree-item {
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    background-color: transparent;
    fill: transparent;
    height: 36px;
    flex: 0 0 auto;
    text-decoration: none;
    padding: 8px 14px 7px 12px;

    &-btn {
      color: transparent;
    }

    &-btnMargin {
      margin-left: 10px;
    }

    &-icon {
      vertical-align: baseline;
      color: var(--text-color);
      font-size: 0.2rem;
      cursor: pointer;
    }
    &-content,&-hasChildrenContent{
      white-space:nowrap ;
      line-height: 18px;
    }
    &-content{
      width:calc(100% - 15px);
    }
    &-hasChildrenContent{
      width:calc(100% - 34px);
    }
  }

  .c7n-workSpaceTree-item:hover {
    background-color: rgba(15, 19, 88, 0.03);
    fill: rgba(15, 19, 88, 0.03);
    text-decoration: none;

    .c7n-workSpaceTree-item-btn {
      color: var(--text-color);
    }
  }

  &-container{
    display: flex;
    align-items: center;
  }
  &-button-container{
    margin-left:auto;
  }
}
