.c7ncd-treeFolder {
  padding: 16px 15px;
  &-title {
    font-size: 15px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: var(--text-color);
  }
  &-name {
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      margin-left: 3px;
    }
  }
  &-creator {
    span {
      margin-left: 3px;
    }
  }
  &-operation {
    overflow: hidden;
    text-overflow: ellipsis;
    span:nth-child(2) {
      margin-left: 3px;
    }
    span:nth-child(3) {
      margin: 0 3px;
    }
  }
}