@import '~choerodon-ui/lib/style/themes/default';

.c7n-knowledge-template {
  padding: 12px 20px;
  height: 100%;

  &-title {
    font-size: 20px;
    font-weight: 500;   
    margin-bottom: 12px; 
  }

  .link {
    color: var(--table-click-color);
    cursor: pointer;
    vertical-align: top;

    &:hover {
      text-decoration: underline;
    }
  }
  .text-gray {
    color: var(--text-color3);
  }
}

.c7n-tooltip-inner {
  word-break: break-all;
}