.c7n-knowledge {
  .page-head-title {
    padding-right: 0;
  }

  .c7n-btn-raised.c7n-btn-primary {
    color: #fff !important;
  }

  .c7n-knowledge-left {
    flex: 1;
    height: 100%;
    padding: 10px;
    overflow: auto;
  }

  .c7n-knowledge-right {
    flex: 1;
    height: 100%;
  }
}
