.c7n-workSpace {  
  // background-color: white;


  &-empty-recycle {
    padding-left: 0.3rem;
    
  }

  .c7n-collapse-expand-icon {
    margin: 0 3px;
  }

  .c7n-collapse-content-box {
    padding-bottom: 0;
  }
  .c7n-collapse-borderless{
    background: none !important;
  }
  .c7n-collapse-borderless>.c7n-collapse-item {
    border: none;

    .c7n-collapse-header {
      font-size: 14px;
      color: #000;
      padding: 7px 0 7px;
      white-space: nowrap;
      width: 100%;
      font-weight: 500;

      .c7n-collapse-expand-icon {
        margin-left: 5px;
      }
    }
  }

  .c7n-collapse>.c7n-collapse-item>.c7n-collapse-header .c7n-collapse-expand-icon {
    &:before {
      content: '\E966' !important;
    }

    font-size: 0.22rem;
  }
}