.c7n-knowledge {
  .c7n-workSpace {
    background-color: white;

    .c7n-collapse-expand-icon {
      margin: 0 3px;
    }

    .c7n-collapse-content-box {
      padding-bottom: 10px;
    }

    .c7n-collapse-item .c7n-collapse-header {
      padding: 7px 0 7px;
      white-space: nowrap;
      width: 100%;
    }
  }
}
