.c7n-knowledge {
  .c7n-docDetail {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 101;
    overflow: hidden;

    &-wrapper {
      min-width: 440px;
      height: 100%;
      display: flex;
      background: #fff;
      flex: 1;
      position: relative;
    }

    &-content {
      padding: 10px 20px;
      width: 100%;
    }

    &-header {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      font-size: 16px;
      line-height: 28px;
      color: #000;
    }

    &-collapse {
      cursor: pointer;
      font-size: 13px;
      line-height: 20px;
      display: flex;
      align-items: center;
    }
  }
}
