.c7n-knowledge {
  .c7n-workSpaceSelect {
    display: table;
    width: 100%;

    .c7n-workSpace-item {
      -webkit-box-align: center;
      align-items: center;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      background-color: transparent;
      color: rgb(66, 82, 110);
      fill: transparent;
      height: 32px;
      flex: 0 0 auto;
      text-decoration: none;
      padding: 8px 12px 7px;

      &-btn {
        color: transparent;
      }

      &-btnMargin {
        margin-left: 10px;
      }

      &-icon {
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: rgba(0, 0, 0, .65);
        background: rgba(0, 0, 0, 0.08);
        font-size: 13px;
        text-align: center;
        cursor: pointer;
      }
    }

    .c7n-workSpace-item:hover {
      background-color: rgba(9, 30, 66, 0.04);
      color: rgb(66, 82, 110);
      fill: rgba(9, 30, 66, 0.04);
      text-decoration: none;

      .c7n-workSpace-item-btn {
        color: #000;
      }
    }
  }
}
