.c7n-docDetail {
  position: absolute;
  right: 0;
  top: 56px;
  height: calc(100% - 56px);
  z-index: 101;
  overflow: hidden;

  &-wrapper {
    min-width: 350px;
    height: 100%;
    display: flex;
    background: #fff;
    flex: 1;
    position: relative;
    border-left: 1px solid var(--divider);
  }

  &-content {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.54rem;
    padding-left: 0.2rem;
    padding-right: 0.12rem;
    border-bottom: 0.01rem solid var(--divider);
    color: var(--text-color);
  }

  &-title {
    font-size: 14px;
    line-height: 21px;
  }

  &-body {
    height: calc(~"100% - 30px");
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
