.c7n-knowledge {
  .c7n-docEditor {
    height: 100%;

    &-control {
      padding: 20px 25px;
    }

    &-btn {
      margin-right: 10px;
    }

    .tui-editor-contents {
      h1 {
        font-size: 0.36rem;
      }

      h2 {
        font-size: 0.24rem;
      }

      h3 {
        font-size: 0.21rem;
      }

      h4 {
        font-size: 0.18rem;
      }

      h5 {
        font-size: 0.16rem;
      }

      h6 {
        font-size: 0.14rem;
      }
    }
  }
}
