.c7n-knowledge {
  .c7n-docHeader {
    border-bottom: 1px solid #d8d8d8;
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;

    &-title {
      font-size: 20px;
      line-height: 18px;

      &-edit {
        vertical-align: top;
        margin-left: 5px;
        color: white;
      }

      &:hover {
        .c7n-docHeader-title-edit {
          color: #3f51b5;
        }
      }
    }

    &-btn {
      margin-left: 7px;
      font-size: 16px;
    }
  }
}

