.c7n-knowledge {
  .c7n-docHeader {
    border-bottom: 1px solid #d8d8d8;
    padding: 15px 5px 10px;

    &-title {
      font-size: 20px;
      line-height: 18px;
      cursor: pointer;
      margin-bottom: 5px;
      margin-top: 10px;
      overflow: hidden;

      &-edit {
        vertical-align: top;
        margin-left: 5px;
        color: white;
      }

      &:hover {
        .c7n-docHeader-title-edit {
          color: #3f51b5;
        }
      }
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap-reverse;
    }

    &-breadcrumb {
      margin-bottom: 5px;
      margin-top: 2px;

      .c7n-breadcrumb-separator {
        color: #000;
        vertical-align: top;
      }

      &-item {
        max-width: 150px;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.7);
      }

      &-item:hover {
        color: #3f51b5;
        transition: color .5s;
      }

      &-more {
        color: rgba(0, 0, 0, 0.45);
      }
    }

    &-control {
      margin-bottom: 5px;
    }

    &-btn {
      margin-left: 7px;
      font-size: 16px;
    }

    .c7n-input-length-info {
      display: none !important;
    }
  }
}

