<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.kb.infra.mapper.KnowledgeBaseMapper">

    <resultMap id="knowledgeWithRecent" type="io.choerodon.kb.api.vo.KnowledgeBaseListVO">
        <id property="id" column="id"/>
        <id property="name" column="name"/>
        <id property="description" column="description"/>
        <id property="rangeProject" column="range_project"/>
        <id property="openRange" column="open_range"/>
        <id property="projectId" column="project_id"/>
        <id property="organizationId" column="organization_id"/>
        <id property="objectVersionNumber" column="object_version_number"/>
        <id property="templateFlag" column="template_flag"/>
        <id property="publishFlag" column="publish_flag"/>

    </resultMap>

   <select id="queryKnowledgeBaseList" resultMap="knowledgeWithRecent">
      SELECT
            *
        FROM
            kb_knowledge_base kb
        WHERE
            1=1
            <if test="params!=null">
              AND  name like CONCAT(CONCAT('%', #{params}),'%')
            </if>

            <if test="projectId==null">
                AND (ORGANIZATION_ID = #{organizationId} OR ORGANIZATION_ID = 0)
                AND (project_id IS NULL  OR PROJECT_ID=0)
                AND is_delete = 0
                <choose>
                    <when test="templateFlag == true">
                        <choose>
                            <when test="publishFlag != null and publishFlag ==true">
                                and publish_flag = 1
                            </when>
                        </choose>
                        and template_flag = 1
                        AND kb.ID NOT IN (SELECT tem.ID FROM kb_knowledge_base tem WHERE tem.ORGANIZATION_ID=0 AND tem.PROJECT_ID=0)
                    </when>
                    <otherwise>
                        and template_flag = 0
                    </otherwise>
                </choose>
            </if>
       <if test="projectId!=null">

           AND is_delete = 0
           <if test="templateFlag == false">
               and template_flag = 0
               AND PROJECT_ID = #{projectId}
               OR (
               OPEN_RANGE = 'range_public'
               AND ORGANIZATION_ID = #{organizationId}
               AND is_delete = 0
               and init_completion_flag = 1
               )
               OR (
               OPEN_RANGE = 'range_project'
               AND RANGE_PROJECT REGEXP '(^|,)(${projectId})(,|$)'
               AND ORGANIZATION_ID = #{organizationId}
               AND is_delete = 0
               and init_completion_flag = 1
               )
           </if>
           <if test="templateFlag == true">
               and template_flag = 1
               and ORGANIZATION_ID = #{organizationId}
               and publish_flag = 1
               AND kb.ID NOT IN (SELECT tem.ID FROM kb_knowledge_base tem WHERE tem.ORGANIZATION_ID=0 AND tem.PROJECT_ID=0)
           </if>
       </if>
        ORDER BY
            kb.LAST_UPDATE_DATE DESC
   </select>

  <select id="listSystemTemplateBase" resultType="io.choerodon.kb.api.vo.KnowledgeBaseTreeVO">
      select distinct kbs.id,kbs.name,1 as topLeavl from kb_knowledge_base kbs
      left join kb_workspace ws on ws.base_id = kbs.id
      where
      kbs.project_id = 0
      and kbs.organization_id = 0
      <if test="searchVO != null">
              <if test="searchVO.contents != null and searchVO.contents.size > 0 ">
                  AND
                  <foreach collection="searchVO.contents" item="content" open="(" separator=" OR " close=")">
                      (ws.name LIKE CONCAT(CONCAT('%', #{content, jdbcType=VARCHAR}),'%'))
                      or
                      (kbs.name LIKE CONCAT(CONCAT('%', #{content, jdbcType=VARCHAR}),'%'))
                  </foreach>
              </if>
              <if test="searchVO.searchArgs != null">
                  <if test='searchVO.searchArgs.name != null'>
                      AND ((ws.name LIKE CONCAT(CONCAT('%', #{searchVO.searchArgs.name, jdbcType=VARCHAR}),'%'))
                      or
                      (kbs.name LIKE CONCAT(CONCAT('%', #{searchVO.searchArgs.name, jdbcType=VARCHAR}),'%')))
                  </if>
              </if>
          </if>
  </select>

    <select id="listKnowledgeBase" resultType="io.choerodon.kb.infra.dto.KnowledgeBaseDTO">
        select * from kb_knowledge_base
        where
          project_id =#{projectId}
         AND ORGANIZATION_ID = #{organizationId}
         AND is_delete = 0
    </select>
    <select id="findKnowledgeBaseByCondition" resultType="io.choerodon.kb.infra.dto.KnowledgeBaseDTO">
        select * from kb_knowledge_base
        where
        ID = #{id}
        AND is_delete = 0
        AND ORGANIZATION_ID = #{organizationId}
        <if test="projectId != null">
          AND ((OPEN_RANGE = 'range_public')
          OR ( OPEN_RANGE = 'range_project'
              AND RANGE_PROJECT REGEXP '(^|,)(${projectId})(,|$)')
          OR (PROJECT_ID = #{projectId}))
        </if>
    </select>


    <select id="listRecycleData" resultType="io.choerodon.kb.api.vo.RecycleVO">
        select t.* from (
            <include refid="queryKnowledgeBaseRecycleData"/>
            union all
            <include refid="queryWorkSpaceRecycleData"/>
        ) t
        order by t.last_update_date desc
    </select>

    <select id="listRecycleKnowledgeBase" resultType="io.choerodon.kb.api.vo.RecycleVO">
        <include refid="queryKnowledgeBaseRecycleData"/>
        order by last_update_date desc
    </select>

    <select id="listRecycleWorkSpace" resultType="io.choerodon.kb.api.vo.RecycleVO">
        <include refid="queryWorkSpaceRecycleData"/>
        order by last_update_date desc
    </select>


    <sql id="queryWorkSpaceRecycleData">
        select
        kw.id,
        kw.name,
        kw.base_id as belong_to_base_id,
        kkb.name as belong_to_base_name,
        null as type,
        kw.last_updated_by,
        kw.last_update_date,
        kw.organization_id,
        kw.project_id,
        kw.type as work_space_type
        from kb_workspace kw
        join kb_knowledge_base kkb on kkb.id = kw.base_id
        where 1=1
        <if test="searchType == null">
            <if test="projectId == null">
                and kw.organization_id = #{organizationId} and (kw.project_id is null or kw.project_id = 0)
            </if>
            <if test="projectId != null">
                and (kw.organization_id = #{organizationId} or kw.organization_id = 0) and kw.project_id = #{projectId}
            </if>
        </if>
        <if test="searchType == 'page'">
            <if test="projectId == null">
                and kw.organization_id = #{organizationId} and kw.project_id is null
            </if>
            <if test="projectId != null">
                and kw.organization_id = #{organizationId} and kw.project_id = #{projectId}
            </if>
        </if>
        <if test="searchType == 'template'">
            <if test="projectId == null">
                and kw.organization_id = #{organizationId} and kw.project_id = 0
            </if>
            <if test="projectId != null">
                and kw.organization_id = 0 and kw.project_id = #{projectId}
            </if>
        </if>
        and kw.is_delete = 1
        <if test='searchDTO != null'>
            <if test='searchDTO.searchArgs != null'>
                <if test='searchDTO.searchArgs.name != null and searchDTO.searchArgs.name.length > 0'>
                    and kw.name like CONCAT(CONCAT('%', #{searchDTO.searchArgs.name}),'%')
                </if>
                <if test='searchDTO.searchArgs.belongToBaseName != null and searchDTO.searchArgs.belongToBaseName.length > 0'>
                    and kkb.name like CONCAT(CONCAT('%', #{searchDTO.searchArgs.belongToBaseName}),'%')
                </if>
            </if>
            <if test='searchDTO.contents != null and searchDTO.contents.size > 0'>
                and
                <foreach collection="searchDTO.contents" item="content" open="(" separator=" or " close=")">
                    kw.name like CONCAT(CONCAT('%', #{content}),'%')
                    or
                    kkb.name like CONCAT(CONCAT('%', #{content}),'%')
                </foreach>
            </if>
        </if>
        <!--回收站鉴权，只判断知识库是否有权限-->
        <include refid="io.choerodon.kb.infra.mapper.KnowledgeBaseMapper.knowledgeBaseFilter"/>
    </sql>

    <sql id="knowledgeBaseFilter">
        <if test="!permissionFlag">
            and kkb.id in (
            select kpr.target_value
            from kb_permission_range kpr
            where kpr.organization_id = kkb.organization_id
            and (kpr.project_id = 0 and kkb.project_id is null or kpr.project_id = kkb.project_id)
            and kpr.target_type in ('KNOWLEDGE_BASE_ORG', 'KNOWLEDGE_BASE_PROJECT')
            and kpr.target_value = kkb.id
            <include refid="io.choerodon.kb.infra.mapper.WorkSpaceMapper.userInfoFilter"/>
            )
        </if>
    </sql>
    
    <sql id="queryKnowledgeBaseRecycleData">
        select
        kkb.id,
        kkb.name,
        null as belong_to_base_id,
        null as belong_to_base_name,
        'base' as type,
        kkb.last_updated_by,
        kkb.last_update_date,
        kkb.organization_id,
        kkb.project_id,
        null as work_space_type
        from kb_knowledge_base kkb
        where kkb.organization_id = #{organizationId}
        and kkb.is_delete = 1
        <choose>
            <when test="projectId == null">
                and kkb.project_id is null
            </when>
            <otherwise>
                and kkb.project_id = #{projectId}
            </otherwise>
        </choose>
        <if test='searchDTO != null'>
            <if test="searchDTO.searchArgs != null">
                <if test='searchDTO.searchArgs.name != null and searchDTO.searchArgs.name.length > 0'>
                    and kkb.name like concat(concat('%', #{searchDTO.searchArgs.name}),'%')
                </if>
            </if>
            <if test="searchDTO.contents != null and searchDTO.contents.size > 0">
                and
                <foreach collection="searchDTO.contents" item="content" open="(" separator=" OR " close=")">
                    kkb.name like concat(concat('%', #{content}),'%')
                </foreach>
            </if>
        </if>
        <!--回收站鉴权，只判断知识库是否有权限-->
        <include refid="io.choerodon.kb.infra.mapper.KnowledgeBaseMapper.knowledgeBaseFilter"/>
    </sql>
    

    <sql id="sqlparam">
        <if test='searchDTO != null'>
            <if test="searchDTO.searchArgs != null">
                <if test='searchDTO.searchArgs.name != null and searchDTO.searchArgs.name.length > 0'>
                    AND
                    kb.name LIKE CONCAT(CONCAT('%', #{searchDTO.searchArgs.name, jdbcType=VARCHAR}),'%')
                </if>
                <if test='searchDTO.searchArgs.belongToBaseName != null and searchDTO.searchArgs.belongToBaseName.length > 0'>
                    AND
                    false
                </if>
            </if>
            <if test="searchDTO.contents != null and searchDTO.contents.size > 0">
                AND
                <foreach collection="searchDTO.contents" item="content" open="(" separator=" OR " close=")">
                    kb.name LIKE CONCAT(CONCAT('%', #{content, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
        </if>
    </sql>
</mapper>
