<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.kb.infra.mapper.PageAttachmentMapper">

    <select id="selectByPageId" resultType="io.choerodon.kb.infra.dataobject.PageAttachmentDO">
        SELECT
            kpa.*
        FROM
            kb_page_attachment kpa
        WHERE
            kpa.PAGE_ID = #{pageId}
        ORDER BY
            kpa.ID DESC
    </select>

    <select id="selectByIds" resultType="io.choerodon.kb.infra.dataobject.PageAttachmentDO">
        SELECT
        kpa.*
        FROM
        kb_page_attachment kpa
        WHERE
        kpa.ID IN
        <foreach collection="ids" item="id" open="("
                 separator="," close=")">
            #{id}
        </foreach>
        ORDER BY
        kpa.ID DESC
    </select>

    <select id="searchAttachment" resultType="io.choerodon.kb.infra.dataobject.PageAttachmentDO">
        select kbpa.*
        from kb_page_attachment kbpa, kb_page kbp
        where kbpa.page_id = kbp.id
        and kbpa.name = #{fileName}
        <if test="projectId != null">
            and kbp.project_id = #{projectId}
        </if>
        <if test="organizationId != null">
            and kbp.organization_id = #{organizationId}
            and kbp.project_id is null
        </if>
    </select>

</mapper>
