<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.kb.infra.mapper.PageLogMapper">

    <select id="selectByPageId" resultType="io.choerodon.kb.infra.dto.PageLogDTO">
        SELECT
            kpl.*
        FROM
            kb_page_log kpl
        WHERE
            kpl.PAGE_ID = #{pageId}
        ORDER BY
            kpl.ID DESC
    </select>
    <select id="selectByPageIdList" resultType="io.choerodon.kb.infra.dto.PageLogDTO">
        SELECT
          kpl.ID,
          kpl.PAGE_ID,
          kpl.CREATED_BY,
          kpl.CREATION_DATE
        FROM
            kb_page_log kpl
        WHERE
            kpl.PAGE_ID IN
        <foreach collection="pageIdList" item="pageId" separator="," close=")" open="(">
            #{pageId}
        </foreach>
        AND kpl.CREATION_DATE >= #{beforeDate}
        ORDER BY
            kpl.ID DESC
    </select>

</mapper>
