<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.kb.infra.mapper.PageAttachmentMapper">

    <select id="selectByPageId" resultType="io.choerodon.kb.infra.dto.PageAttachmentDTO">
        SELECT
            kpa.*
        FROM
            kb_page_attachment kpa
        WHERE
            kpa.PAGE_ID = #{pageId}
        ORDER BY
            kpa.ID DESC
    </select>

    <select id="selectIn" resultType="io.choerodon.kb.infra.dto.PageAttachmentDTO">
        SELECT
        kpa.*
        FROM
        kb_page_attachment kpa
        WHERE
        kpa.ID IN
        <foreach collection="ids" item="id" open="("
                 separator="," close=")">
            #{id}
        </foreach>
        ORDER BY
        kpa.ID DESC
    </select>

    <select id="queryByFileName" resultType="io.choerodon.kb.infra.dto.PageAttachmentDTO">
        select
        kbpa.id,
        kbpa.name,
        CONCAT(#{attachmentUrl}, kbpa.url) as url,
        kbpa.object_version_number
        from kb_page_attachment kbpa, kb_page kbp
        where kbpa.page_id = kbp.id
        and kbpa.name = #{fileName}
        <if test="organizationId != null">
            AND kbp.organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND kbp.project_id = #{projectId}
            </when>
            <otherwise>
                AND kbp.project_id is null
            </otherwise>
        </choose>
    </select>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
    insert into kb_page_attachment (name,page_id,size,url,created_by,last_updated_by) values
        <foreach item="item" collection="list" separator=",">
            (#{item.name}, #{item.pageId}, #{item.size}, #{item.url},#{item.createdBy},#{item.lastUpdatedBy})
        </foreach>
    </insert>

</mapper>
