<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.kb.infra.mapper.WorkSpaceMapper">

    <resultMap id="workSpaceInfo" type="io.choerodon.kb.api.vo.WorkSpaceInfoVO">
        <id property="id" column="id"/>
        <id property="route" column="route"/>
        <id property="description" column="description"/>
        <id property="referenceType" column="reference_type"/>

        <id property="createdBy" column="created_by"/>
        <id property="creationDate" column="creation_date"/>
        <id property="lastUpdatedBy" column="last_updated_by"/>
        <id property="lastUpdateDate" column="last_update_date"/>
        <id property="objectVersionNumber" column="object_version_number"/>

        <association property="pageInfo" columnPrefix="p_" javaType="io.choerodon.kb.api.vo.PageInfoVO">
            <id property="id" column="id"/>
            <result property="title" column="title"/>
            <result property="content" column="content"/>
            <result property="projectId" column="project_id"/>
            <result property="organizationId" column="organization_id"/>
            <result property="creationDate" column="creation_date"/>
            <result property="createdBy" column="created_by"/>
            <result property="lastUpdateDate" column="last_update_date"/>
            <result property="lastUpdatedBy" column="last_updated_by"/>
            <result property="objectVersionNumber" column="object_version_number"/>
        </association>
    </resultMap>

    <resultMap id="workSpaceRecent" type="io.choerodon.kb.api.vo.WorkSpaceRecentVO">
        <id property="id" column="id"/>
        <id property="title" column="title"/>
        <id property="lastUpdateDate" column="last_update_date"/>
        <id property="lastUpdatedBy" column="last_updated_by"/>
        <id property="projectId" column="project_id"/>
        <id property="organizationId" column="organization_id"/>
    </resultMap>

    <resultMap id="workSpace" type="io.choerodon.kb.infra.dto.WorkSpaceDTO">
        <id property="id" column="id"/>
        <id property="workPageId" column="work_page_id"/>
        <id property="name" column="name"/>
        <id property="organizationId" column="organization_id"/>
        <id property="projectId" column="project_id"/>
        <id property="route" column="route"/>
        <id property="parentId" column="parent_id"/>
        <id property="rank" column="rank"/>
        <id property="bookId" column="book_id"/>
        <id property="delete" column="is_delete"/>
        <id property="pageId" column="page_id"/>

        <id property="createdBy" column="created_by"/>
        <id property="creationDate" column="creation_date"/>
        <id property="lastUpdatedBy" column="last_updated_by"/>
        <id property="lastUpdateDate" column="last_update_date"/>
        <id property="objectVersionNumber" column="object_version_number"/>
    </resultMap>

    <resultMap id="knowledgeWithRecent" type="io.choerodon.kb.api.vo.WorkSpaceRecentVO">
            <id property="id" column="wk_id"/>
            <id property="baseId" column="base_id"/>
            <id property="route" column="route"/>
            <id property="title" column="title"/>
            <id property="lastUpdateDate" column="last_update_date"/>
            <id property="lastUpdatedBy" column="last_updated_by"/>
            <id property="projectId" column="project_id"/>
            <id property="organizationId" column="organization_id"/>
    </resultMap>

    <select id="queryWorkSpaceInfo" resultMap="workSpaceInfo">
        SELECT
        kw.id,
        kw.description,
        kw.route,
        kwp.reference_type,
        kw.OBJECT_VERSION_NUMBER,
        kw.CREATED_BY,
        kw.CREATION_DATE,
        kw.LAST_UPDATED_BY,
        kw.LAST_UPDATE_DATE,

        kp.id AS p_id,
        kp.TITLE AS p_title,
        kpc.content AS p_content,
        kp.project_id AS p_project_id,
        kp.organization_id AS p_organization_id,
        kp.OBJECT_VERSION_NUMBER AS p_object_version_number,
        kp.CREATED_BY AS p_created_by,
        kp.CREATION_DATE AS p_creation_date,
        kp.LAST_UPDATED_BY AS p_last_updated_by,
        kp.LAST_UPDATE_DATE AS p_last_update_date
        FROM
        kb_workspace kw
        LEFT JOIN kb_workspace_page kwp ON kw.ID = kwp.WORKSPACE_ID
        LEFT JOIN kb_page kp ON kp.ID = kwp.PAGE_ID
        LEFT JOIN kb_page_content kpc ON kpc.version_id = kp.latest_version_id
        WHERE kw.ID = #{id}
    </select>

    <select id="hasChildWorkSpace" resultType="java.lang.Boolean">
        SELECT
        CASE COUNT(1)
        WHEN 0 THEN FALSE ELSE TRUE END
        FROM
        kb_workspace kw
        WHERE kw.parent_id = #{parentId}
        <if test="organizationId != null">
            AND kw.organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND kw.project_id = #{projectId}
            </when>
            <otherwise>
                AND kw.project_id is null
            </otherwise>
        </choose>
        AND kw.is_delete = 0
    </select>

    <select id="queryMaxRank" resultType="java.lang.String">
        SELECT
        MAX(kw.rank)
        FROM
        kb_workspace kw
        WHERE kw.parent_id = #{parentId}
        <if test="organizationId != null">
            AND kw.organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND kw.project_id = #{projectId}
            </when>
            <otherwise>
                AND kw.project_id is null
            </otherwise>
        </choose>
    </select>

    <select id="queryMinRank" resultType="java.lang.String">
        SELECT
        MIN(kw.rank)
        FROM
        kb_workspace kw
        WHERE kw.parent_id = #{parentId}
        <if test="organizationId != null">
            AND kw.organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND kw.project_id = #{projectId}
            </when>
            <otherwise>
                AND kw.project_id is null
            </otherwise>
        </choose>
    </select>

    <select id="queryRank" resultType="java.lang.String">
        SELECT
        kw.RANK
        FROM
        kb_workspace kw
        WHERE kw.ID = #{id}
        <if test="organizationId != null">
            AND kw.organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND kw.project_id = #{projectId}
            </when>
            <otherwise>
                AND kw.project_id is null
            </otherwise>
        </choose>
    </select>

    <select id="queryLeftRank" resultType="java.lang.String">
        SELECT
        MAX(kw.rank)
        FROM
        kb_workspace kw
        WHERE kw.parent_id = #{parentId}
        AND kw.rank &lt; #{rightRank}
        <if test="organizationId != null">
            AND kw.organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND kw.project_id = #{projectId}
            </when>
            <otherwise>
                AND kw.project_id is null
            </otherwise>
        </choose>
    </select>

    <select id="queryRightRank" resultType="java.lang.String">
        SELECT
        MIN(kw.rank)
        FROM
        kb_workspace kw
        WHERE kw.parent_id = #{parentId}
        AND kw.rank > #{leftRank}
        <if test="organizationId != null">
            AND kw.organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND kw.project_id = #{projectId}
            </when>
            <otherwise>
                AND kw.project_id is null
            </otherwise>
        </choose>
    </select>

    <select id="workSpaceListByParentIds" resultMap="workSpace">
        SELECT
        kw.*
        FROM
        kb_workspace kw
        WHERE
        <choose>
            <when test="parentIds != null and parentIds.size > 0">
                kw.parent_id IN
                <foreach collection="parentIds" item="parentId" open="("
                         separator="," close=")">
                    #{parentId}
                </foreach>
                <if test="organizationId != null">
                    AND kw.organization_id = #{organizationId}
                </if>
                <choose>
                    <when test="projectId != null">
                        AND kw.project_id = #{projectId}
                    </when>
                    <otherwise>
                        AND kw.project_id is null
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                kw.parent_id = -1
            </otherwise>
        </choose>
    </select>

    <update id="updateChildByRoute">
        UPDATE kb_workspace
        SET ROUTE = REPLACE(ROUTE,#{oldRoute},#{newRoute})
        WHERE ROUTE REGEXP '^${oldRoute}.'
        <if test="organizationId != null">
            AND organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND project_id = #{projectId}
            </when>
            <otherwise>
                AND project_id is null
            </otherwise>
        </choose>
    </update>

    <update id="updateChildDeleteByRoute">
        UPDATE kb_workspace
        SET is_delete = #{delete}
        WHERE ROUTE REGEXP '^${route}.'
        <if test="organizationId != null">
            AND organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND project_id = #{projectId}
            </when>
            <otherwise>
                AND project_id is null
            </otherwise>
        </choose>
    </update>

    <select id="selectAllChildByRoute" resultMap="workSpace">
        SELECT
        kb.*,
        wp.id as work_page_id,
        wp.page_id
        FROM
        kb_workspace kb
        LEFT JOIN kb_workspace_page wp ON wp.workspace_id = kb.id
        WHERE
        kb.ROUTE REGEXP '^${route}.'
        <if test="isNotDelete">
            AND kb.is_delete = 0
        </if>
        ORDER BY kb.RANK ASC
    </select>


    <select id="queryAll" resultMap="workSpace">
        SELECT
        *
        FROM
        kb_workspace kw
        WHERE 1 = 1
        <if test="baseId != null">
            AND kw.base_id = #{baseId}
        </if>
        <if test="organizationId != null">
            AND kw.organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND kw.project_id = #{projectId}
            </when>
            <otherwise>
                AND kw.project_id is null
            </otherwise>
        </choose>
        AND kw.is_delete = 0
        ORDER BY kw.RANK ASC
    </select>

    <select id="queryAllDeleteOptions" resultType="io.choerodon.kb.api.vo.RecycleVO">
        SELECT
        kw.*,kb.ID as belongToBaseId,kb.`NAME` as belongToBaseName
        FROM
        kb_workspace kw LEFT JOIN kb_knowledge_base kb on kb.ID=kw.base_id
        WHERE 1 = 1
        <if test="organizationId != null">
            AND kw.organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND kw.project_id = #{projectId}
            </when>
            <otherwise>
                AND kw.project_id is null
            </otherwise>
        </choose>
        AND kw.is_delete = 1
        <include refid="searchparam"/>
        ORDER BY kw.last_update_date DESC
    </select>
    <sql id="searchparam">
        <if test='searchDTO != null'>
            <if test="searchDTO.searchArgs != null">
                <if test='searchDTO.searchArgs.name != null and searchDTO.searchArgs.name.length > 0'>
                    AND
                    kw.name LIKE CONCAT(CONCAT('%', #{searchDTO.searchArgs.name, jdbcType=VARCHAR}),'%')
                </if>
                <if test='searchDTO.searchArgs.belongToBaseName != null and searchDTO.searchArgs.belongToBaseName.length > 0'>
                    AND
                    kb.name LIKE CONCAT(CONCAT('%', #{searchDTO.searchArgs.belongToBaseName, jdbcType=VARCHAR}),'%')
                </if>
            </if>
            <if test="searchDTO.contents != null and searchDTO.contents.size > 0">
                AND
                <foreach collection="searchDTO.contents" item="content" open="(" separator=" OR " close=")">
                    kw.name LIKE CONCAT(CONCAT('%', #{content, jdbcType=VARCHAR}),'%')
                    OR
                    kb.name LIKE CONCAT(CONCAT('%', #{content, jdbcType=VARCHAR}),'%')
                </foreach>
            </if>
        </if>
    </sql>

    <select id="queryAllDelete" resultMap="workSpace">
        SELECT
        *
        FROM
        kb_workspace kw
        WHERE 1 = 1
        <if test="organizationId != null">
            AND kw.organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND kw.project_id = #{projectId}
            </when>
            <otherwise>
                AND kw.project_id is null
            </otherwise>
        </choose>
        AND kw.is_delete = 1
        ORDER BY kw.last_update_date DESC, kw.rank ASC
    </select>

    <select id="selectSpaceByIds" resultMap="workSpace">
        select kw.*
        from kb_workspace kw
        where
        1=1
        <if test="projectId !=null">
            and project_id = #{projectId}
        </if>
        and kw.id in
        <foreach collection="spaceIds" item="spaceId" open="("
                 separator="," close=")">
            #{spaceId}
        </foreach>
    </select>

    <select id="selectRecent" resultMap="workSpaceRecent">
        SELECT
        kw.id,
        kp.TITLE AS title,
        kp.project_id AS project_id,
        kp.organization_id AS organization_id,
        kp.LAST_UPDATED_BY AS last_updated_by,
        kp.LAST_UPDATE_DATE AS last_update_date
        FROM
        kb_workspace kw
        LEFT JOIN kb_workspace_page kwp ON kw.ID = kwp.WORKSPACE_ID
        LEFT JOIN kb_page kp ON kp.ID = kwp.PAGE_ID
        WHERE 1=1
        <if test="organizationId != null">
            AND kw.organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND (kw.project_id = #{projectId} OR kw.project_id is null)
            </when>
            <otherwise>
                AND kw.project_id is null
            </otherwise>
        </choose>
        AND kw.base_id = #{baseId}
        AND kw.is_delete = 0
        ORDER BY kp.LAST_UPDATE_DATE DESC LIMIT 10
    </select>

    <select id="listAllParentIdByBaseId" resultType="long">
        select id from kb_workspace
        where
        organization_id = #{organizationId}
        and
        project_id = #{projectId}
        and
        base_id = #{baseId}
        and
        parent_id = 0
    </select>

    <select id="queryDocumentTemplate" resultType="io.choerodon.kb.api.vo.DocumentTemplateInfoVO">
        SELECT
            ws.id,
            ws.NAME AS title,
            ws.description,
            ws.CREATED_BY,
            kbp.LAST_UPDATED_BY
        FROM
            kb_workspace ws
            LEFT JOIN kb_workspace_page wsp ON wsp.WORKSPACE_ID = ws.ID
            LEFT JOIN kb_page kbp ON kbp.Id = wsp.PAGE_ID
        WHERE
            1 = 1
            AND ws.ORGANIZATION_ID = #{organizationId}
            AND ws.PROJECT_ID = #{projectId}
            AND ws.base_id = #{baseId}
            AND ws.id = #{id}
    </select>

    <select id="querylatest" resultMap="knowledgeWithRecent">
       SELECT
        *
        FROM
            (
                SELECT
                    c.base_id AS base_id,
                    any_value (id) AS id,
                    any_value (NAME) AS title,
                    any_value (ROUTE) AS ROUTE,
                    c.LAST_UPDATED_BY AS LAST_UPDATED_BY,
                    any_value (LAST_UPDATE_DATE) AS LAST_UPDATE_DATE
                FROM
                    (
                        SELECT
                            wk.base_id,
                            wk.id,
                            wk. NAME,
                            wk.ROUTE,
                            kp.LAST_UPDATED_BY,
                            kp.LAST_UPDATE_DATE
                        FROM
                            kb_workspace wk,
                            kb_workspace_page wkp,
                            kb_page kp
                        WHERE
                            wkp.WORKSPACE_ID = wk.ID
                        AND wkp.PAGE_ID = kp.ID
                        AND wk.is_delete=0
                        AND wk.base_id IN
                        <foreach collection="baseIds" item="baseId" separator="," open="(" close=")">
                            #{baseId}
                        </foreach>
                        ORDER BY
                            wk.base_id,
                            kp.LAST_UPDATED_BY,
                            kp.LAST_UPDATE_DATE DESC
                        LIMIT 9999
                    ) c
                GROUP BY
                    c.base_id,
                    c.LAST_UPDATED_BY
            ) t
        WHERE
            3 > (
                SELECT
                    count(1)
                FROM
                    (
                        SELECT
                            c.base_id AS base_id,
                            any_value (id) AS id,
                            any_value (NAME) AS title,
                            any_value (ROUTE) AS ROUTE,
                            c.LAST_UPDATED_BY AS LAST_UPDATED_BY,
                            any_value (LAST_UPDATE_DATE) AS LAST_UPDATE_DATE
                        FROM
                            (
                                SELECT
                                    wk.base_id,
                                    wk.id,
                                    wk. NAME,
                                    wk.ROUTE,
                                    kp.LAST_UPDATED_BY,
                                    kp.LAST_UPDATE_DATE
                                FROM
                                    kb_workspace wk,
                                    kb_workspace_page wkp,
                                    kb_page kp
                                WHERE
                                    wkp.WORKSPACE_ID = wk.ID
                                AND wkp.PAGE_ID = kp.ID
                                AND wk.is_delete=0
                                AND wk.base_id IN
                                <foreach collection="baseIds" item="baseId" separator="," open="(" close=")">
                                    #{baseId}
                                </foreach>
                                ORDER BY
                                    wk.base_id,
                                    kp.LAST_UPDATED_BY,
                                    kp.LAST_UPDATE_DATE DESC
                                LIMIT 9999
                            ) c
                        GROUP BY
                            c.base_id,
                            c.LAST_UPDATED_BY
                    ) b
                WHERE
                    b.base_id = t.base_id
                AND b.LAST_UPDATE_DATE > t.LAST_UPDATE_DATE
            )
        ORDER BY
            LAST_UPDATE_DATE DESC
    </select>
    <select id="listDocumentTemplate" resultType="io.choerodon.kb.api.vo.DocumentTemplateInfoVO">
        SELECT
            ws.id,
            ws.NAME AS title,
            ws.description,
            ws.CREATED_BY,
            kbp.LAST_UPDATED_BY,
            ws.CREATION_DATE,
	        kbp.LAST_UPDATE_DATE,
            ws.object_version_number,
            (
        CASE

            WHEN ws.ORGANIZATION_ID = 0
            AND ws.PROJECT_ID = 0 THEN
            'sys_preset'
        WHEN ws.ORGANIZATION_ID = 0 or ws.PROJECT_ID = 0 THEN 'custom'
        END
        ) AS templateType
        FROM
            kb_workspace ws
            LEFT JOIN kb_workspace_page wsp ON wsp.WORKSPACE_ID = ws.ID
            LEFT JOIN kb_page kbp ON kbp.Id = wsp.PAGE_ID
        WHERE
            1 = 1
             AND ws.is_delete = 0
             <if test="searchVO == null or searchVO.searchArgs == null or searchVO.searchArgs.templateType == null">
                 AND (
                 ( ws.ORGANIZATION_ID = #{organizationId} AND ws.PROJECT_ID = #{projectId} AND ws.base_id = #{baseId} )
                 OR ( ws.ORGANIZATION_ID = 0 AND ws.PROJECT_ID = 0 )
                 )
             </if>
             <include refid="sqlParam"/>
         order by kbp.LAST_UPDATE_DATE DESC
    </select>

    <select id="listTemplateByBaseIds" resultType="io.choerodon.kb.infra.dto.WorkSpaceDTO">
      select * from kb_workspace
      where ORGANIZATION_ID = #{organizationId} AND PROJECT_ID = #{projectId} and
      base_id in
      <foreach collection="list" item="baseId" separator="," open="(" close=")">
          #{baseId}
      </foreach>
    </select>

    <select id="selectAllWorkSpace" resultType="io.choerodon.kb.infra.dto.WorkSpaceDTO">
       SELECT
	    *
    FROM
        kb_workspace
    WHERE
        <if test="type=='org'">
            ORGANIZATION_ID IS NOT NULL
            AND PROJECT_ID IS NULL
        </if>
        <if test="type=='pro'">
            PROJECT_ID IS NOT NULL
        </if>

    </select>
    <select id="selectProjectRecentList" resultType="io.choerodon.kb.api.vo.WorkBenchRecentVO">
        SELECT
            kw.ID,
            kwp.PAGE_ID,
            kkb.ID AS baseId,
            kkb.NAME AS knowledge_base_name,
            kp.TITLE,
            kp.PROJECT_ID,
            kp.ORGANIZATION_ID,
            kp.LAST_UPDATE_DATE
        FROM
            kb_workspace kw
        JOIN kb_knowledge_base kkb ON kkb.ID = kw.base_id
        LEFT JOIN kb_workspace_page kwp ON kw.ID = kwp.WORKSPACE_ID
        LEFT JOIN kb_page kp ON kp.ID = kwp.PAGE_ID
        WHERE
        kw.is_delete = 0
        AND kkb.is_delete = 0
        AND kw.organization_id = #{organizationId}
        <if test="failed">
            AND kw.project_id IN
                <foreach collection="projectIdList" item="projectId" separator="," open="(" close=")">
                    #{projectId}
                </foreach>
        </if>
        <if test="!failed">
            AND ((kw.project_id IS NULL)
            OR (kw.project_id IN
            <foreach collection="projectIdList" item="projectId" separator="," open="(" close=")">
                #{projectId}
            </foreach>)
            )
        </if>

        <if test="selfFlag">
            AND kp.LAST_UPDATED_BY = #{userId}
        </if>
    </select>

    <update id="updateWorkSpace">
        UPDATE kb_workspace
        SET base_id = #{baseId}
        WHERE
        1=1
        <choose>
            <when test="organizationId!=null">
                and ORGANIZATION_ID = #{organizationId}
            </when>
            <otherwise>
                and ORGANIZATION_ID is null
            </otherwise>
        </choose>

        <choose>
            <when test="projectId!=null">
                AND PROJECT_ID = #{projectId}
            </when>
            <otherwise>
                AND PROJECT_ID is null
            </otherwise>
        </choose>
    </update>

    <sql id="sqlParam">
        <if test="searchVO != null">
            <if test="searchVO.contents != null and searchVO.contents.size > 0 ">
                AND
                <foreach collection="searchVO.contents" item="content" open="(" separator=" OR " close=")">
                    (ws.name LIKE CONCAT(CONCAT('%', #{content, jdbcType=VARCHAR}),'%'))
                    or
                    (ws.description LIKE CONCAT(CONCAT('%', #{content, jdbcType=VARCHAR}),'%'))
                </foreach>
            </if>
            <if test="searchVO.searchArgs != null">
                <if test='searchVO.searchArgs.title != null'>
                    AND (ws.name LIKE CONCAT(CONCAT('%', #{searchVO.searchArgs.title, jdbcType=VARCHAR}),'%'))
                </if>
                <if test="searchVO.searchArgs.description != null">
                    AND (ws.description LIKE CONCAT(CONCAT('%', #{searchVO.searchArgs.description, jdbcType=VARCHAR}),'%'))
                </if>
                <if test="searchVO.searchArgs.templateType != null">
                    <if test="searchVO.searchArgs.templateType == 'custom'">
                        AND ( ws.ORGANIZATION_ID = #{organizationId} AND ws.PROJECT_ID = #{projectId} AND ws.base_id = #{baseId})
                    </if>
                    <if test="searchVO.searchArgs.templateType == 'sys_preset'">
                        AND ( ws.ORGANIZATION_ID = 0 AND ws.PROJECT_ID = 0 )
                    </if>
                </if>
            </if>
        </if>
    </sql>
</mapper>
