<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.kb.infra.mapper.WorkSpaceProMapper">


    <resultMap id="workSpaceRecent" type="io.choerodon.kb.api.vo.WorkSpaceRecentVO">
        <id property="id" column="id"/>
        <id property="title" column="title"/>
        <id property="lastUpdateDate" column="last_update_date"/>
        <id property="lastUpdatedBy" column="last_updated_by"/>
        <id property="projectId" column="project_id"/>
        <id property="organizationId" column="organization_id"/>
        <id property="type" column="type"/>
    </resultMap>

    <select id="selectRecent" resultMap="workSpaceRecent">
        SELECT
        kw.id,
        kw.type,
        kp.TITLE AS title,
        kp.project_id AS project_id,
        kp.organization_id AS organization_id,
        kp.LAST_UPDATED_BY AS last_updated_by,
        kp.LAST_UPDATE_DATE AS last_update_date
        FROM
        kb_workspace kw
        LEFT JOIN kb_workspace_page kwp ON kw.ID = kwp.WORKSPACE_ID
        LEFT JOIN kb_page kp ON kp.ID = kwp.PAGE_ID
        WHERE 1=1
        <if test="organizationId != null">
            AND kw.organization_id = #{organizationId}
        </if>
        <choose>
            <when test="projectId != null">
                AND (kw.project_id = #{projectId} OR kw.project_id is null)
            </when>
            <otherwise>
                AND kw.project_id is null
            </otherwise>
        </choose>
        AND kw.base_id = #{baseId}
        AND kw.is_delete = 0
        AND kw.type='document'
        ORDER BY kp.LAST_UPDATE_DATE DESC
    </select>


</mapper>
